# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# sst
.sst
.build

# next.js
.open-next
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
!.env.example

# turbo
.turbo

# vercel
.vercel

# vscode
.vscode
.history

# node
.yarn
node_modules
.java-version
.editorconfig

.zed